<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>FrontController</servlet-name>
        <servlet-class>com.br.banco.controller.FrontController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoffCommand</servlet-name>
        <servlet-class>com.br.banco.command.LogoffCommand</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaldoCommand</servlet-name>
        <servlet-class>com.br.banco.command.SaldoCommand</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FrontController</servlet-name>
        <url-pattern>/FrontController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoffCommand</servlet-name>
        <url-pattern>/LogoffCommand</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaldoCommand</servlet-name>
        <url-pattern>/SaldoCommand</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <ejb-local-ref>
        <ejb-ref-name>SessionManager</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>com.br.banco.sessionbeans.SessionManagerLocal</local>
        <ejb-link>BancoJMS-ejb.jar#SessionManager</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>LogProducer</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>com.br.banco.log.LogProducerLocal</local>
        <ejb-link>BancoJMS-ejb.jar#LogProducer</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>LogProducer1</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>com.br.banco.log.LogProducerLocal</local>
        <ejb-link>BancoJMS-ejb.jar#LogProducer</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>LogProducer2</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>com.br.banco.log.LogProducerLocal</local>
        <ejb-link>BancoJMS-ejb.jar#LogProducer</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>LogProducer3</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>com.br.banco.log.LogProducerLocal</local>
        <ejb-link>BancoJMS-ejb.jar#LogProducer</ejb-link>
    </ejb-local-ref>
</web-app>
